<section class="logo-section">
    <figure class="logo-imagen">
        <picture>
            <source srcset="/media/header_footer/logo_propio.png?as=webp" type="image/webp" />
            <source srcset="/media/header_footer/logo_propio.png?as=avif" type="image/avif" />
            <img src="/media/header_footer/logo_propio.png" alt="Logo Queen - NO Oficial" loading="lazy" width="100px"
                height="33px">
        </picture>

    </figure>
</section>
<div class="hamburger">
    <div class="_layer -top"></div>
    <div class="_layer -mid"></div>
    <div class="_layer -bottom"></div>
</div>