<ul class="lista-encab">
    <li><a href="/src/index.html">Inicio</a></li>
    <li><a href="/src/categoria.html">Categoría</a></li>
    <li><a href="/src/presentacion.html">Presentación</a></li>
    <li><a href="/src/enlaces.html">Enlaces</a></li>
</ul>
<!-------------------------------- MENU HAMBURGUESA -------------------------------------->
<div class="menuppal">
    <ul class="lista-encab-hambur">
        <li><a href="/src/index.html">Inicio</a></li>
        <li><a href="/src/categoria.html">Categoría</a></li>
        <li><a href="/src/presentacion.html">Presentación</a></li>
        <li><a href="/src/enlaces.html">Enlaces</a></li>
    </ul>
</div>